h1{
    text-align: center;
}
input{
    width: 250px;
    margin: 10px 0 10px 0;
}
.form-container{
    max-width: 650px;
    text-align: center;
    border: 1px solid gray;
    margin: 0 auto;
}
#cute-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    max-width: 260px;
}