* {
    margin-top: 10px;
    text-align: center;
    background-color: aliceblue;
    /* color: red; */
    text-shadow: 5px 5px 10px blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}